.mainchat
  .mainchat__top
    .mainchat__top--leftbox
      .mainchat__top--leftbox--name
        test
      .mainchat__top--leftbox--member
        Member: Kento
    .mainchat__top--rightbox
      = link_to "#", class: "mainchat__top--rightbox--edit" do 
        .mainchat__top--rightbox--edit--box
          Edit
  .mainchat__mid
    .mainchat__mid--msgbox
      .mainchat__mid--msgbox--name
        Kento
        %span.mainchat__mid--msgbox--dates
          2020年06月03日 12時11分
      .mainchat__mid--msgbox--msg
        こんにちは！
    .mainchat__mid--msgbox
      .mainchat__mid--msgbox--name
        Kento
        %span.mainchat__mid--msgbox--dates
          2020年06月03日 22時11分
      .mainchat__mid--msgbox--msg
        おやすみ！
    .mainchat__mid--msgbox
      .mainchat__mid--msgbox--name
        Kento
        %span.mainchat__mid--msgbox--dates
          2020年06月03日 08時11分
      .mainchat__mid--msgbox--msg
        おはよう！
  .mainchat__bot
    = form_with do |form|
      = form.text_area :text, placeholder: "type a message"
      = form.submit "Send"
