.sidebar
  .sidebar__top
    .sidebar__top--userbox
      .sidebar__top--userbox--name
        Kento
      .sidebar__top--userbox--btns
        = link_to "#", class: "sidebar__top--userbox--btns--btn" do
          = icon('far', 'edit')
        = link_to "#", class: "sidebar__top--userbox--btns--btn" do
          = icon('fas', 'cog')
  .sidebar__bot
    .sidebar__bot--groupbox
      .sidebar__bot--groupbox--name
        techcamp
      .sidebar__bot--groupbox--message
        newest message
